Temps estim√©s :
- Parties 2/3 lois et th√©or√®mes : 1/2 journ√©e
- 4.2.1 > 4.2.3 : 1 journ√©e
- 4.2.4 : 1/2 journ√©e
- 5 enqu√™te bonheur : 1/2 journ√©e

Signification des √©moticones :
- üåû : documentations importantes
- üåö : en compl√©ment
- (vide) : √† vous de voir

# Import des librairies

In [ ]:
# manipulation de dataframes
import pandas as pd

üåû https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [ ]:
# r√©alisation des graphiques
import matplotlib.pyplot as plt

In [ ]:
# r√©alisation des graphiques
import seaborn as sns

In [ ]:
# tests d'hypoth√®ses
import scipy.stats as stats

In [ ]:
# calculs scientifiques
import numpy as np

In [ ]:
# fonction de r√©partition empirique
from statsmodels.distributions.empirical_distribution import ECDF

# Quelques lois int√©ressantes √† connaitre en statistiques

Nous notons ici diff√©rentes lois int√©ressantes en statistiques. L'id√©e ici n'est pas de les connaitre toutes dans un premier temps, mais de savoir qu'elles existent. L'int√©r√™t des lois pour nous aujourd'hui est de pouvoir comparer la distribution de nos variables √† ces lois.

## Mod√®les discrets

Les variables al√©atoires <b/>discr√®tes</b> prennent <b/>un nombre fini ou d√©nombrable</b> de valeurs distinctes.</br>
</br>

- Loi Uniforme : https://fr.wikipedia.org/wiki/Loi_uniforme_discr%C3%A8te</br>
La probabilit√© que la variable al√©atoire X prenne chacune des valeurs de son support est identique, autrement dit, il y a √©quiprobabilit√©.</br>
</br>

- Loi de Bernouilli : https://fr.wikipedia.org/wiki/Loi_de_Bernoulli</br>
On consid√®re une √©preuve al√©atoire √† deux issues. L'une est consid√©r√©e comme le succ√®s, l'autre comme l'√©chec. C'est ce que l'on appelle une √©preuve de Bernoulli.</br>
Par exemple, on lance un d√©. On obtient 6, c'est le succ√®s. On n'obtient pas 6, c'est l'√©chec.</br>
</br>

- Loi Binomiale : https://fr.wikipedia.org/wiki/Loi_binomiale</br>
On consid√®re √† nouveau une √©preuve de Bernoulli : √©preuve al√©atoire √† deux issues. L'une est consid√©r√©e comme le succ√®s, l'autre comme l'√©chec. Cette fois, on r√©p√®te cette √©preuve de mani√®re identique et ind√©pendante pour obtenir ce que l'on appelle un sch√©ma de Bernoulli. </br>
Exemple : on reprend le lancer de d√©. On lance ce d√© un certain nombre de fois. Disons n fois, n √©tant un entier naturel non nul. On d√©signe par X la VAD qui compte le nombre de succ√®s, c'est-√†-dire le nombre de fois o√π on a obtenu un 6.

üåö https://openclassrooms.com/fr/courses/4525296-maitrisez-les-bases-des-probabilites/5327541-apprenez-a-utiliser-quelques-lois-usuelles-discretes

## Mod√®les continus

Les variables al√©atoires <b/>continues</b> peuvent prendre <b/>une infinit√© de valeurs</b> dans un intervalle donn√©.</br>

- Loi Uniforme : https://fr.wikipedia.org/wiki/Loi_uniforme_continue</br>
Toutes les valeurs possibles d'un intervalle donn√© ont la m√™me probabilit√© de se produire.</br>

- Loi Normale : https://fr.wikipedia.org/wiki/Loi_normale</br>
C'est une loi sym√©trique en forme de cloche, o√π la majorit√© des valeurs se concentrent autour de la moyenne, avec une d√©croissance des probabilit√©s √† mesure que l'on s'√©loigne de celle-ci.</br>

- Loi de Student : https://fr.wikipedia.org/wiki/Loi_de_Student</br>
Cette loi est utilis√©e pour estimer les moyennes de populations normalement distribu√©es lorsqu'on a un petit √©chantillon, caract√©ris√©e par des queues plus √©paisses que celles de la loi normale.</br>

- Loi du Chi-Deux : https://fr.wikipedia.org/wiki/Loi_du_%CF%87%C2%B2</br>
On l'utilise pour tester l'ad√©quation entre des donn√©es observ√©es et des donn√©es th√©oriques. Elle est souvent appliqu√©e dans les tests d'ind√©pendance et les tests d'ajustement.

üåö https://openclassrooms.com/fr/courses/4525296-maitrisez-les-bases-des-probabilites/5437151-familiarisez-vous-avec-quelques-lois-usuelles-continues

## Focus sur la Loi Normale : la plus int√©ressante pour nous aujourd'hui

G√©n√©rons de mani√®re al√©atoire une variable temp√©rature (de moyenne 15¬∞C et d'√©cart-type 3¬∞C par exemple) qui suivrait une loi Normale afin de se rendre compte de la forme qu'elle a :

https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html

In [ ]:
mean=15
std_dev=3
num_samples=1000
#G√©n√©ration d'une variable aleatoire
temperature_samples=np.random.normal(mean,std_dev,num_samples)

Que se passe-t-il si on joue avec la size ?

In [ ]:
#affichage de l'histogramme
plt.figure(figsize=(10,6))
plt.hist(temperature_samples,bins=30,density=True,alpha=0.6,color='g')

In [ ]:
#affichage de la courbe de densit√© de probabilit√©
xmin,xmax=plt.xlim()
x=np.linspace(xmin,xmax,100)
p=np.exp(-0.5*((x-mean)/std_dev)**2)/(std_dev*np.sqrt(2 * np.pi))
plt.plot(x,p,'k',linewidth=2)

title="histogramme des temeratures gener√©es avec la courbe de densit√© de probabilit√©"
plt.title(title)
plt.xlabel('Temperature(C)')
plt.ylabel('Densit√© de probabilit√©')
plt.show()

# Quelques th√©or√®mes fondamentaux √† connaitre en statistiques

## La loi des grands nombres

Ressources :</br>
- üåû https://www.youtube.com/watch?v=HRnYFpdR8WM
- https://fr.wikipedia.org/wiki/Loi_des_grands_nombres
- üåö https://openclassrooms.com/fr/courses/4525296-maitrisez-les-bases-des-probabilites/5422416-decouvrez-la-loi-faible-des-grands-nombres

**En r√©sum√©** : elle signifie que la moyenne empirique (calcul√©e sur les valeurs d‚Äôun √©chantillon), converge vers l‚Äôesp√©rance (moyenne de la population globale r√©elle : extrapolation) lorsque la taille de l‚Äô√©chantillon tend vers l‚Äôinfini.

## Le Th√©or√®me Central Limite (TCL)

Ressources :</br>
- üåû https://www.youtube.com/watch?v=4dhm2QAA2x4
- üåû https://www.youtube.com/watch?v=YAlJCEDH2uY
- https://fr.wikipedia.org/wiki/Th%C3%A9or%C3%A8me_central_limite
- üåö https://openclassrooms.com/fr/courses/4525296-maitrisez-les-bases-des-probabilites/5422586-utilisez-le-theoreme-central-limite
- üåö Afin de bien saisir la notion, vous pouvez jouer avec ce simulateur : https://im2ag-shiny.univ-grenoble-alpes.fr/fcorset/TCL/
- üåö Un autre petit jeu √† explorer pour comprendre : https://probastat.dyndoc.fr/statinf/aep

**En r√©sum√©** : il √©tablit la convergence en loi de la somme d'une suite de variables al√©atoires vers la loi normale.

# Sujet 1 : Les passagers du Titanic

üåû Source : https://www.kaggle.com/datasets/vinicius150987/titanic3

## A quoi ressemblent nos donn√©es ?

### Importons le jeu de donn√©es

In [ ]:
df_cats=pd.read_csv("data/cookie_cats.csv")
df_cats

In [ ]:
df_enquete=pd.read_csv("data/enquete_sur_le_bonheur.csv",sep=';')
df_enquete

In [28]:
df_titanic=pd.read_csv("data/titanic_complet.csv",sep=';')
df_titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29,0.0,0.0,24160,"211,3375",B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,"0,9167",1.0,2.0,113781,"151,5500",C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,"14,4542",NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,"26,5",0.0,0.0,2656,"7,2250",NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27,0.0,0.0,2670,"7,2250",NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29,0.0,0.0,315082,"7,8750",NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Combien y a-t-il de personnes sur le paquebot ?

In [64]:
df_titanic=df_titanic.dropna(subset=['name'])
nbre_personnes=df_titanic.shape[0]
nbre_personnes

1309

### Combien d'informations a-t-on sur ces personnes ?

In [62]:
nbre_information=df_titanic.shape[1]
nbre_information

14

### Regardons les premi√®res lignes de nos donn√©es afin de se faire une id√©e

In [65]:
df_titanic.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29,0.0,0.0,24160,"211,3375",B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,"0,9167",1.0,2.0,113781,"151,5500",C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48,0.0,0.0,19952,"26,5500",E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63,1.0,0.0,13502,"77,9583",D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39,0.0,0.0,112050,"0,0000",A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2.0,0.0,11769,"51,4792",C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71,0.0,0.0,PC 17609,"49,5042",NaN,C,NaN,22.0,"Montevideo, Uruguay"

### R√©alisons un r√©sum√© statistique afin d'avoir une id√©e des chiffres globaux

In [66]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   float64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   object
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   object
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(5), object(9)
memory usage: 153.4+ KB

In [67]:
df_titanic.describe()

            pclass     survived        sibsp        parch        body
count  1309.000000  1309.000000  1309.000000  1309.000000  121.000000
mean      2.294882     0.381971     0.498854     0.385027  160.809917
std       0.837836     0.486055     1.041658     0.865560   97.696922
min       1.000000     0.000000     0.000000     0.000000    1.000000
25%       2.000000     0.000000     0.000000     0.000000   72.000000
50%       3.000000     0.000000     0.000000     0.000000  155.000000
75%       3.000000     1.000000     1.000000     0.000000  256.000000
max       3.000000     1.000000     8.000000     9.000000  328.000000

## Analyse univari√©e : quelles informations pourraient √™tre int√©ressantes √† regarder par variable ?

### Regardons les variables qualitatives

#### Quelles sont les variables qualitatives ?

In [112]:
df_titanic_qualitatives=df_titanic[["survived","name","sex","age","embarked","home.dest"]]
df_titanic_qualitatives

,survived,name,sex,age,embarked,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29,S,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,"0,9167",S,"Montreal, PQ / Chesterville, ON"
2,0.0,"Allison, Miss. Helen Loraine",female,2,S,"Montreal, PQ / Chesterville, ON"
3,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30,S,"Montreal, PQ / Chesterville, ON"
4,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,S,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...
1304,0.0,"Zabour, Miss. Hileni",female,"14,5",C,NaN
1305,0.0,"Zabour, Miss. Thamine",female,NaN,C,NaN
1306,0.0,"Zakarian, Mr. Mapriededer",male,"26,5",C,NaN
1307,0.0,"Zakarian, Mr. Ortin",male,27,C,NaN
1308,0.0,"Zimmerman, Mr. Leo",male,29,S,NaN

#### Quelle est la part d'hommes et de femmes ?

R√©alisons la table de contingence des effectifs :

In [113]:

df_titanic_qualitatives["sex"].astype(str)
df_hommes=df_titanic_qualitatives[df_titanic_qualitatives["sex"]=="male"]
nbre_hommes=df_hommes.shape[0]
nbre_hommes

843

In [135]:
df_hommes_survecue=df_hommes[df_hommes["survived"]==1]
nbre_homme_survecus=df_hommes_survecue["survived"].count()
nbre_homme_survecus

161

In [130]:
df_hommes_non_survecue=df_hommes[df_hommes["survived"]==0]
nbre_hommes_nonsurvecus=df_hommes_non_survecue["survived"].count()
nbre_hommes_nonsurvecus

682

In [131]:
df_femmes=df_titanic_qualitatives[df_titanic_qualitatives["sex"]=="female"]
nbre_femmes=df_femmes.shape[0]
nbre_femmes

466

In [134]:
df_femmes_survecue=df_femmes[df_femmes["survived"]==1]
femmes_survecue=df_femmes_survecue["survived"].count()

femmes_survecue

339

In [133]:
df_femmes_non_survecue=df_femmes[df_femmes["survived"]==0]
femmes_non_survecue=df_femmes_non_survecue["survived"].count()
femmes_non_survecue

127

In [136]:
#tables de contingence des effectifs
data={'survived':[femmes_survecue,nbre_homme_survecus],'nonsurvived':[femmes_non_survecue,nbre_hommes_nonsurvecus]}
index=['F','H']

#cont_table
df_cont_table=pd.DataFrame(data,index)
df_cont_table

   survived  nonsurvived
F       339          127
H       161          682

R√©alisons la table de contingence des fr√©quences :

https://fr.wikipedia.org/wiki/Fr%C3%A9quence_(statistiques)

#### Repr√©sentons √ßa sous forme de graphiques afin que ce soit plus visuel

Diagramme en barres en effectifs :

Diagramme en barres en proportion :

#### Continuez d'explorer ce qui vous semble int√©ressant !

### Regardons les variables quantitatives

#### Quelles sont les variables quantitatives ?

#### Comment est repr√©sent√© l'√¢ge des voyageurs ?

Regardons le r√©sum√© statistiques :

#### Comment peut-on regarder la r√©partition de l'√¢ge sous forme de graphique ?

Regardons un diagramme en barre des effectifs / histogramme

Regardons le boxplot :

https://fr.wikipedia.org/wiki/Bo%C3%AEte_%C3%A0_moustaches

#### Continuez d'explorer ce qui vous semble int√©ressant !

## Croisons un peu les variables !

### Quelle est la part de femmes ayant surv√©cu ?

Regardons la table de contingence en effectifs :

Regardons la table de contingence en fr√©quences :

### Est-ce que les survivants sont plus des femmes ?

Regardons la table de contingence en proportion en fonction des colonnes

### Est-ce que les femmes sont plus nombreuses √† avoir surv√©cu que les hommes ?

Regardons la table de contingence en proportion en fonction des lignes

### Observons √ßa en graphiques !

R√©alisons un diagramme en barres en effectifs

### Comment sont repr√©sent√©s les √¢ges par genre ?

R√©alisons le r√©sum√© statistique par modalit√© :

### Regardons √ßa en graphiques !

Avec le boxplot :

Avec la fonction de r√©partition empirique :

### Peut-on voir un lien entre l'√¢ge et le prix du ticket ?

Regardons √ßa avec un scatter plot :

Regardons le coefficient de corr√©lation :

R√©alisons la matrice de corr√©lation en heatmap pour voir √ßa graphiquement :

Par d√©faut, la fonction .corr() calcule la <b/>corr√©lation de Pearson</b>, adapt√©e lorsque la relation entre les deux variables est lin√©aire.<br/>
La <b/>corr√©lation de Spearman</b> quant √† elle mesure la relation monotone entre deux variables en se basant sur les rangs des donn√©es. Elle est ainsi moins sensible aux outliers et permet de rep√©rer des relations monotones non lin√©aires.<br/>

üåû Ressource : https://datascientest.com/correlations-de-pearson-et-de-spearman <br/>

Calculer le coefficient de corr√©lation de Spearman et comparer le r√©sultat.

### Semble-t-il y avoir un lien entre la classe sociale et la survie ?

### Continuez d'explorer ce qui vous semble int√©ressant !

## Tests statistiques

Nous avons pu voir plusieurs informations avec les analyses pr√©liminaires r√©alis√©es :
- Les femmes semblent √™tre plus nombreuses √† survivre
- Les 1√®re classes semblent avoir plus de chance de survivre que les 3√®me classe
- ...

### Qu'est-ce qu'un test d'hypoth√®ses ?

Quelques ressources :
- üåû https://www.youtube.com/watch?v=0oc49DyA3hU
- üåû https://www.youtube.com/watch?v=5koKb5B_YWo

Id√©e principale : v√©rifier que les statistiques de l'√©chantillon sont significatives, c'est √† dire que si on reproduit l'exp√©rience, on aurait les m√™mes r√©sultats (extrapolation √† la population globale).

Autrement dit : √† partir des conclusions faites sur un <b/>√©chantillon</b>, on veut voir si on peut les <b/>g√©n√©raliser √† l'ensemble de la population</b> dont est tir√© cet √©chantillon.

Par exemple si on analyse un √©chantillon de personnes ayant un cancer en testant deux m√©thodes pour le soigner et qu'on trouve que la meilleure des solutions est de dormir 12h par nuit, on souhaite que nos statistiques sur cet √©chantillon soient valables pour toutes les personnes ayant un cancer afin d'√™tre s√ªre que cette m√©thode peut √™tre utilis√©e sur tout le monde.<br/>
<br/>

Il existe diff√©rents types de tests, notamment :
- les tests <b/>de conformit√© √† une valeur</b> <i/>(ex : les paquets de farine de ma cha√Æne de production font-ils bien 500g ?)</i>
- les tests <b/>de comparaison entre des √©chantillons</b> <i/>(ex : est-ce que les fumeurs ont davantage de risque de cancer que les non fumeurs ?)</i>
- les tests <b/>d'ad√©quation / de conformit√© √† une loi de probabilit√©</b> <i/>(ex : est-ce que la distribution des revenus suit une loi normale ?)</i>

Dans chacun des cas, on utilisera une formule sp√©cifique √† ce type de test (une fonction diff√©rente sur Python).

üåö Ressource pour plus tard : guide de choix de test statistique - https://help.xlstat.com/fr/6443-which-statistical-test-should-you-use

Commen√ßons par les tests de comparaison de deux moyennes.

### Les femmes ont-elles en moyenne significativement plus de chance de survie que les hommes ?

Ou la r√©partition est-elle due au hasard ?

Peut-√™tre que vous vous demandez : √ßa se voit avec les effectifs, pourquoi le v√©rifier statistiquement ?

L'id√©e des tests d'hypoth√®ses est d'extrapoler ce qu'on voit sur un √©chantillon √† la population globale. Dans notre cas, c'est comme si on voulait v√©rifier si √† l'√©poque la survie des femmes sur les b√¢teaux qui rencontrent des icebergs est toujours sup√©rieure √† celle des hommes. Pour cela on prend notre √©chantillon du Titanic en r√©f√©rence.

De la m√™me mani√®re, vous avez peut-√™tre d√©j√† entendu parl√© de √ßa en politique pendant les √©lections, on peut prendre un village qui aurait les m√™mes proportions de femmes, de jeunes, d'artisans,... que la France enti√®re (= √©chantillon) afin d'extrapoler leurs intentions de vote au niveau national.

**R√©alisons notre premier test statistique pas √† pas !**

Commen√ßons par r√©aliser les sous-√©chantillons d'hommes et de femmes :

Calculons la moyenne des √©chantillons pour v√©rifier que notre hypoth√®se est plausible :

R√©alisons un premier test afin de voir si les deux moyennes sont statistiquement significativement diff√©rentes :

Quelques petites informations int√©ressantes, prenez le temps d'y jeter un coup d'oeil :
- Documentation Python :
    - Test sur une moyenne : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html#scipy.stats.ttest_1samp
    - Test de comparaison de 2 moyennes : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html
    - Test sur une proportion : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.binomtest.html
    - üåö Tous les tests d'hypoth√®se sur Python : https://docs.scipy.org/doc/scipy/reference/stats.html#hypothesis-tests-and-related-functions <br/>
<br/>
- üåû Les √©tapes de la r√©alisation d'un test d'hypoth√®ses : https://www.youtube.com/watch?v=I3vnzM1X15g&list=PLWwpP-YNkDjYa9PTCOwJ0A6LNtvbjThsf&index=1

A noter que dans la plupart des cas (notamment quand ce n'est pas pr√©cis√©), on prendra √† une pvaleur √† 5%

On pose nos hypoth√®ses H0 et H1 :

On r√©alise notre test :

Analyse des r√©sultats et conclusion :

On peut refaire le test en v√©rifiant que la moyenne de survie des femmes est sup√©rieure √† celle des hommes :

Conclusion :

### Focus pvalue + intervalle de confiance

Quelques ressources pour bien comprendre la notion de pvaleur :
- https://fr.wikipedia.org/wiki/Valeur_p
- üåû https://www.youtube.com/watch?v=vemZtEM63GY
- üåû https://www.youtube.com/watch?v=xVIt51ybvu0
- üåö https://www.youtube.com/watch?v=jy9b1HSqtSk

Quelques ressources pour bien comprendre la notion d'intervalle de confiance :
- https://fr.wikipedia.org/wiki/Intervalle_de_confiance
- üåû https://www.youtube.com/watch?v=TqOeMYtOc1w
- üåö simulateur pour aider √† la compr√©hension : https://im2ag-shiny.univ-grenoble-alpes.fr/fcorset/ICmu/

### COMPETENCE - Les 3√®me classe ont-il moins de chance de survie que les 1√®re classe ?

##### Qu'en est-il des 2nde classe ?

### Les chances de survie des mineurs √©taient-elles sup√©rieures √† 50% ?

Identifier le type de test √† r√©aliser parmi ceux cit√©s plus haut.

### Le genre et la survie sont-elles deux variables ind√©pendantes ?

Une autre mani√®re d'aborder la question de la survie selon le genre est de r√©aliser un test d'ind√©pendance du Khi-deux.<br/>
<br/>
üåû Ressources :
- Pour expliquer ce test : https://datatab.fr/tutorial/chi-square-test
- Test du Khi-deux d'ind√©pendance sur Python : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

In [ ]:
# Tableau de contingence avec crosstab

In [ ]:
# Test du Khi-deux

### COMPETENCE - Y a-t-il un lien entre le genre et la classe ?

### Continuez d'explorer ce qui vous semble int√©ressant !

# Petite pause avec le paradoxe de Simpson

üåû https://www.youtube.com/watch?v=vs_Zzf_vL2I

# Sujet 2 : Enqu√™te sur le bonheur

Des √©tudiants en Master 1 Sciences Des Donn√©es √† l'Universit√© Grenoble Alpes ont r√©alis√©e une √©tude sur le bonheur lors d'un de leurs projets tutor√©s en 2020

Importez les donn√©es :

Regardez globalement ce qu'il y a dedans :

A vous d'analyser les donn√©es avec tout ce que vous avez appris !

## COMPETENCE - R√©aliser une mini infographie d'une demie page avec au moins 5 informations int√©ressantes d√©couvertes (dont au moins 2 tests d'hypoth√®ses) dans ce jeu de donn√©es

#  Sujet 3 (bonus) : Application mobile : jeu Cookie Cats

Les donn√©es sont issues de Kaggle : https://www.kaggle.com/datasets/yufengsui/mobile-games-ab-testing

Les tests statistiques sont √©galement utilis√©s dans le test de nouvelles fonctionnalit√©s (application, site web,...), afin de voir si mettre un bouton en turquoise attire plus qu'un bouton en fushia par exemple.

Ressources :
- https://fr.wikipedia.org/wiki/Test_A/B
- üåû https://www.youtube.com/watch?v=BmNBxAhatYI

Importez les donn√©es :

Regardez globalement ce qu'il y a dedans :

Nous avons ici plusieurs informations :
- userid : identifiant de l'utilisateur
- version : les deux versions de l'application √† comparer
- les indicateurs de performance de l'application :
    - sum_gamerounds : le nombre de tours de jeu jou√©s par le joueur au cours des 14 premiers jours suivant l'installation
    - retention_1 : est-ce que le joueur est revenu et a jou√© 1¬†jour apr√®s l'installation¬†?
    - retention_7 : est-ce que le joueur est revenu et a jou√© 7¬†jours apr√®s l'installation¬†?

L'id√©e ici va √™tre de regarder quelle version de l'application permet une meilleure performance de cette derni√®re en moyenne.

Commen√ßons par cr√©er les deux groupes √† comparer :

## En terme de nombre de tours jou√©s par le joueur au cours des 14 premiers jours, quelle version est la meilleure ?

## Par rapport aux joueurs qui reviennent 1 jour apr√®s l'installation, quelle version est la meilleure ?

## Par rapport aux joueurs qui reviennent 7 jours apr√®s l'installation, quelle version est la meilleure ?

## Quelle version devrait choisir l'√©diteur selon vous ?

# BONUS

## Cr√©ation de nouvelles variables afin d'√©toffer l'analyse

Regardez la distribution des √¢ges ou basez vous sur vos propres crit√®res afin de d√©finir des classes d'√¢ge. </br>
Pouvez-vous d√©celer des informations int√©ressantes sur les jeunes, les vieux ?

## Nettoyage des donn√©es aberrantes

Certaines donn√©es extr√™mes semblent bizarres, peut-√™tre fausses, il pourrait √™tre int√©ressant de les enlever dans nos analyses

## Analyse des questions ouvertes

Comment peut-on analyser les questions ouvertes ?

## Tests sur la variance

Il est √©galement possible de r√©aliser des tests sur la variance. </br>
Si √ßa vous int√©resse n'h√©sitez pas √† creuser le sujet ;)